
@{
    ViewBag.Title = "Index";
}

<h2>Stores</h2>

<p>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Store_modal">
        Add New Store
    </button>
</p>
<table class="table" id="store_table"></table>

<!-- Modal -->
<div class="modal fade" id="Store_modal" tabindex="-1" role="dialog" aria-labelledby="Create Product" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateCus_Modal">Add Store</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <lebel for="Cus_name"></lebel>
                    <input type="text" class="form-control" id="StoreId" placeholder="ID " disabled="disabled" />
                </div>
                <div class="form-group">
                    <lebel for="Cus_name"></lebel>
                    <input type="text" class="form-control" id="StoreName" placeholder="Name" />
                </div>
                <div class="form-group">
                    <lebel for="CusAddress"></lebel>
                    <input type="text" class="form-control" id="StoreAddress" placeholder="Addess" />
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="create" onclick="Create();">Save changes</button>
            <button type="button" class="btn btn-primary" id="btnUpdate" style="display:none;" onclick="Update();">Update</button>

        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        loadData();
    });

    function loadData() {
        $("#Store_table").html("");
        $('#btnUpdate').hide();
        $('#create').show();

        $.ajax({
            url: "/Store/List",

            type: "GET",
            contentType: "application/json;charset=UTF-8",

            dataType: "json",
            success: function (result) {
                $("#Store_table").html("");
                $.each(result, function (key, value) {
                    console.log(key, value);
                    $('#store_table').append(
                        "<tr><td>" + value.StoreId + '</td><td>' + value.StoreName + '</td><td>' + value.StoreAddress + '</td><td><button type="button" onclick="return Delele(' + value.StoreId + ')">Delete</button><button type="button" onclick="return getbyID(' + value.StoreId + ')">Edit</button></td></tr>'
                     );
                });

            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }
    //Add new
    function Create()
    {
        var Obj = {
            StoreName: $('#StoreName').val(),
            StoreAddress: $('#StoreAddress').val(),
        };
        $.ajax({
            url: "/Store/Add",
            data: JSON.stringify(Obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                loadData();
                $('#Store_modal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function Update() {
        var Obj = {
            StoreId: $('#StoreId').val(),
            StoreName: $('#StoreName').val(),
            StoreAddress: $('#StoreAddress').val(),
        };
        $.ajax({
            url: "/Store/Update",
            data: JSON.stringify(Obj),
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                //alert(result);
                loadData();
                $('#Store_modal').modal('hide');
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }


    //Load Modal for editing cus details
    function getbyID(Data) {

        $.ajax({
            url: "/Store/getbyID/" + Data,
            typr: "GET",
            contentType: "application/json;charset=UTF-8",
            dataType: "json",
            success: function (result) {
                //alert(result);
                $('#StoreId').val(result.StoreId);
                $('#StoreName').val(result.StoreName);
                $('#StoreAddress').val(result.StoreAddress);

                $('#Store_modal').modal('show');
                $('#btnUpdate').show();
                $('#create').hide();
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
        return false;
    }
    //function for deleting
    function Delele(ID) {
        var ans = confirm("Are you sure you want to delete this Record?");
        if (ans) {
            $.ajax({
                url: "/Store/Delete/" + ID,
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                success: function (result) {
                    loadData();
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    }
</script>